* {
  border-radius: 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 92vh;
}

.search-heading {
  margin-top: 18vh;
  margin-bottom: 5vh;
  color: white;
  text-align: center;
  font-size: 48px;
}

.sample-images {
  padding: 10px;
  display: flex;
  background-color: #fef9ef;
  height: 500px;

  justify-content: space-evenly;
}

.white-text {
  color: white;
  text-align: center;
}
